@model TravelGod.ru.Pages.MyPageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TravelGod.ru</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/logo.svg" alt="TravelGod.ru" width="70">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Trips">Поездки</a>
                    </li>
                    @if (Model.User is not null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-route-id="@Model.User.Id" asp-page="/Profile">
                                Профиль
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-page="/SignIn">Авторизация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-page="/SignUp">Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - TravelGod.ru
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>