@page
@model TravelGod.ru.Pages.AddTrip
@{
    ViewData["Title"] = "Добавить поездку";
}

@section Styles
{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/addtrip.css">
}

<div class="container mt-5">
    <div class="col-md-10 col-lg-8 col-xl-7 m-auto shadow-lg p-0 py-3" id="add-trip">
        <h2 class="text-center">Новая поездка</h2>
        <p class="text-center mx-3 lead">Эта информация позволит нам понять вашу задумку.</p>
        <ul class="nav nav-tabs justify-content-between my-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Основное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="type-tab" data-toggle="tab" href="#type" role="tab" aria-controls="type" aria-selected="false">Тип поездки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Описание</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mx-3 pb-5" id="main" role="tabpanel" aria-labelledby="main-tab">
                <p class="text-center">Начнём с основных деталей.</p>
                <form method="post" asp-page="AddTrip" class="mt-4" id="trip-form">
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="Trip.Title" class="font-weight-bold">Название</label>
                            <input asp-for="Trip.Title" class="form-control">
                            <span asp-validation-for="Trip.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Trip.RouteRaw" class="font-weight-bold">Маршрут</label>
                            <input asp-for="Trip.RouteRaw" class="form-control" data-toggle="tooltip" title="Введите населённые пункты через пробел" data-placement="bottom">
                            <span asp-validation-for="Trip.RouteRaw" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="Trip.StartDate" class="font-weight-bold">Дата начала</label>
                            <input asp-for="Trip.StartDate" type="date" class="form-control">
                            <span asp-validation-for="Trip.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="Trip.EndDate" class="font-weight-bold">Дата окончания</label>
                            <input asp-for="Trip.EndDate" type="date" class="form-control">
                            <span asp-validation-for="Trip.EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center button-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="Trip.CreateChat" type="checkbox" class="custom-control-input" id="customCheck1" checked>
                            <label asp-for="Trip.CreateChat" class="custom-control-label" for="customCheck1">Создать общий чат</label>
                        </div>
                        <button class="btn btn-primary btnNext">Далее</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade mx-3 pb-5" id="type" role="tabpanel" aria-labelledby="type-tab">
                <p class="text-center">Выберите тип будущей поездки.</p>
                <div class="radio-group">
                    <div class="row mt-4">
                        <div class="col-12 col-sm-4 d-inline-flex justify-content-center mb-3 mb-sm-0">
                            <div tabindex="0" class="radio text-center" data-toggle="tooltip" title="Поездка на природу" data-placement="bottom" data-value="NatureTrip">
                                <span class="material-icons">
                                    landscape
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 d-inline-flex justify-content-center mb-3 mb-sm-0">
                            <div tabindex="1" class="radio text-center" data-toggle="tooltip" title="Городская поездка" data-placement="bottom" data-value="CityTrip">
                                <span class="material-icons">
                                    location_city
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 d-inline-flex justify-content-center mb-3 mb-sm-0">
                            <div tabindex="2" class="radio text-center selected" data-toggle="tooltip" title="Всё вместе" data-placement="bottom" data-value="CommonTrip" autofocus>
                                <span class="material-icons">
                                    travel_explore
                                </span>
                            </div>
                        </div>
                    </div>
                    <input asp-for="Trip.Type" class="form-control" id="radio-value" form="trip-form" hidden value="CommonTrip"/>
                </div>
                <div class="d-flex justify-content-between align-items-center button-group">
                    <button class="btn btn-outline-secondary btnPrevious">Назад</button>
                    <button class="btn btn-primary btnNext">Далее</button>
                </div>
            </div>
            <div class="tab-pane fade mx-3 pb-5" id="description" role="tabpanel" aria-labelledby="description-tab">
                <p class="text-center">Кратко опишите вашу идею и пожелания.</p>
                <div class="form-group mt-4">
                    <label asp-for="Trip.Description" class="font-weight-bold">Описание</label>
                    <textarea asp-for="Trip.Description" class="form-control" rows="5" form="trip-form" style="resize: none;"></textarea>
                    <span asp-validation-for="Trip.Description" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between button-group">
                    <button class="btn btn-outline-secondary btnPrevious">Назад</button>
                    <input type="submit" form="trip-form" class="btn btn-primary" value="Сохранить">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/addtrip.js"></script>
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}