#myTab .nav-item .nav-link {
    background-color: inherit;
    color: grey;
}

#myTab .nav-item .nav-link.active {
    color: black;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #2D353C;
    display: inline-block;
    position: absolute;
    left: 1rem;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
    position: relative;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: -0.5rem;
}

/* Timeline item circle marker */
div.timeline-point {
    background: #ddd;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #2D353C;
    left: -1.82rem;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

span.timeline-dates {
    position: absolute;
    left: -5rem;
    top: 1.1rem;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
}

.picture-container {
    position: relative;
    text-align: center;
}

.picture-container.active {
    cursor: pointer;
}

.picture {
    max-width: 106px;
    max-height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture-container.active .picture:hover {
    border-color: #00bcd4;
}

.picture input[type="file"] {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-container.active .picture input[type="file"] {
    cursor: pointer;
}


h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.picture-container.active h6 {
    display: block;
}

.picture-container h6 {
    display: none;
}