@page

@model TravelGod.ru.Pages.Profile.Chats
@{
    ViewData["Title"] = "Сообщения";
}

@section Styles
{
    <link rel="stylesheet" href="/css/Profile/Chats.css">
}

<div class="container py-3 px-4">

    <div class="row rounded-lg overflow-hidden shadow-lg mt-3">
        <!-- Users box-->
        <div class="col-3 col-md-5 px-0">
            <div class="bg-white">

                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Чаты</p>
                </div>

                <div class="messages-box">
                    <div class="list-group rounded-0">
                        @foreach (var chat in Model.ListOfChats)
                        {
                            @(await Component.InvokeAsync("ChatLink", chat))
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-9 col-md-7 px-0" id="chat-box">
            @await Component.InvokeAsync("MessagesBox", Model.ListOfChats.FirstOrDefault())

            <!-- Typing area -->
            <form method="post" id="message-form" class="bg-light">
                <div class="input-group position-relative">
                    <input asp-for="Message.Text" id="message-input" placeholder="Введите сообщение" class="form-control rounded-0 border-0 py-4 bg-light">
                    <span asp-validation-for="Message.Text" class="form-text text-danger position-absolute" style="top: -1.7rem; left: .5rem"></span>
                    <div class="input-group-append">
                        <button id="button-addon2" type="submit" class="btn btn-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/js/Profile/Chats.js"></script>
    <partial name="Shared/_ValidationScriptsPartial"/>
}