/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.content {
    min-height: calc(100vh - 61px);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.nav-link.active {
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.dropdown-toggle {
    cursor: pointer;
}

.dropdown-divider {
    margin: 0;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;
    border: none;
    z-index: 1021;
}

.dropdown-item {
    padding: 1rem;
}

.bi {
    margin-right: .5rem;
}

#loaders {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

#loaders, #loading, #success, #failure{
    display: none;
}

.lds-ring {
    width: 35px;
    height: 35px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 4px;
    border: 4px solid #1b6ec2;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1b6ec2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

svg.am_Success_Icon,
svg.am_Error_Icon{
    width: 35px; /* Размер иконок */
    margin: auto auto;
}
.am_sdp_Header_Status{
    color: #fff;
    font-size: 140%;
}

svg.am_Success_Icon path, svg.am_Success_Icon polyline, svg.am_Success_Icon line {
    stroke: #1e7e34;
}

svg.am_Error_Icon path, svg.am_Error_Icon polyline, svg.am_Error_Icon line {
    stroke: red;
}

svg.am_Success_Icon path, svg.am_Success_Icon polyline, svg.am_Success_Icon line,
svg.am_Error_Icon path, svg.am_Error_Icon polyline, svg.am_Error_Icon line{
    fill: none;
    stroke-width: 45; /* Толщина линий */
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg.am_Success_Icon .am_SVG_circle,
svg.am_Error_Icon .am_SVG_circle{
    stroke-dasharray: 1460;
    animation: am_SVG_circle 2s ease-in infinite;
}

svg.am_Success_Icon .am_SVG_check{
    stroke-dasharray: 630;
    animation: am_SVG_check 2s ease-in infinite;
}

svg.am_Error_Icon .am_SVG_error1{
    stroke-dasharray: 630;
    animation: am_SVG_error1 2s ease-in infinite;
}
svg.am_Error_Icon .am_SVG_error2{
    stroke-dasharray: 630;
    animation: am_SVG_error2 3s ease-in infinite;
}

@keyframes am_SVG_circle {
    0%, 60% {
        stroke-dashoffset: -1460;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes am_SVG_check {
    0% {
        stroke-dashoffset: 630;
    }
    40% {
        stroke-dashoffset: 0;
    }
}
@keyframes am_SVG_error1 {
    0% {
        stroke-dashoffset: 630;
    }
    20% {
        stroke-dashoffset: 0;
    }
}
@keyframes am_SVG_error2 {
    0%, 20% {
        stroke-dashoffset: 630;
    }
    40% {
        stroke-dashoffset: 0;
    }
}